@font-face {
  font-family: outfit;
  font-style: normal;
  font-weight: 400;
  src: local("Outfit"),
    url(https://fonts.cdnfonts.com/s/87582/OutfitRegular.woff) format("woff");
}
@font-face {
  font-family: outfit;
  font-style: normal;
  font-weight: 100;
  src: local("Outfit"),
    url(https://fonts.cdnfonts.com/s/87582/OutfitVariableFont_wght1.woff)
      format("woff");
}
@font-face {
  font-family: outfit;
  font-style: normal;
  font-weight: 250;
  src: local("Outfit"),
    url(https://fonts.cdnfonts.com/s/87582/OutfitExtraLight.woff) format("woff");
}
@font-face {
  font-family: outfit;
  font-style: normal;
  font-weight: 300;
  src: local("Outfit"),
    url(https://fonts.cdnfonts.com/s/87582/OutfitLight1.woff) format("woff");
}
@font-face {
  font-family: outfit;
  font-style: normal;
  font-weight: 500;
  src: local("Outfit"),
    url(https://fonts.cdnfonts.com/s/87582/OutfitMedium.woff) format("woff");
}
@font-face {
  font-family: outfit;
  font-style: normal;
  font-weight: 600;
  src: local("Outfit"),
    url(https://fonts.cdnfonts.com/s/87582/OutfitSemiBold.woff) format("woff");
}
@font-face {
  font-family: outfit;
  font-style: normal;
  font-weight: 700;
  src: local("Outfit"),
    url(https://fonts.cdnfonts.com/s/87582/OutfitBold.woff) format("woff");
}
@font-face {
  font-family: outfit;
  font-style: normal;
  font-weight: 800;
  src: local("Outfit"),
    url(https://fonts.cdnfonts.com/s/87582/OutfitExtraBold.woff) format("woff");
}
@font-face {
  font-family: outfit;
  font-style: normal;
  font-weight: 900;
  src: local("Outfit"),
    url(https://fonts.cdnfonts.com/s/87582/OutfitBlack.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'outfit', sans-serif;
}
